/* section 요소가 정해진 너비로 가운데 정렬되도록 설정 */
section {
    width: 1060px; /* 고정된 너비 */
    margin: 0 auto; /* 가로 가운데 정렬 */
    display: block;
    position: relative;
    background-color: white;
}

section h2 {
    text-align: left;
    margin: 50px 0 20px;
    font-size: 1.2em;
    color: #333;
}

section > ul:first-of-type,
section > div:last-of-type {
    display: flex;
    flex-direction: column;
    color: #828282;
    border: 1px solid #e5e5e5;
}

section > ul:first-of-type li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2em;
    color: #202020;
}

section > ul:first-of-type p {
    padding-right: 2.2em;
}

section > div:last-of-type span:first-of-type {
    margin-right: 5px;
    padding: 5px 15px;
    color: #828282;
    font-size: 0.9em;
    border: 1px solid #d9d9d9;
}

section > div:last-of-type div {
    color: #828282;
    font-size: 0.9em;
}

.main {
    padding: 20px;
    line-height: 1.4;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

section p a.button  {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
    line-height: 40px;
    background-color: #828282;
    border: 1px solid #757575;
}
